<div class="modal-body">

	<div class="content">
		<div class="name-heading">Choose a name</div>
		<input #name class="name-selection"/>
		<button class="button" (click)="createNewPage(name)">Create</button>
	</div>

</div>