.modal-body {
	position: absolute;
	width: 94%;
	height: 100%;
	left: 6%;
	
	font-size: 16px;
  
  background-image: 
    -webkit-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
    -webkit-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-image: 
    -moz-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
    -moz-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-image: 
    -o-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    -o-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-image: 
    -ms-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    -ms-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  -webkit-background-size: 100% 2em;
  -moz-background-size: 100% 2em;

  background-image: 
    linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-size: 100% 2em;
}

.content {
	position: relative;
	top: 2.5em;
	text-align: center;
}

.name-heading {
	font-size: 64px;
	font-family: "URW Chancery L", cursive;	
	line-height: 64px;
}

.name-selection {
	margin-top: -4px;
	
	border-style: dotted;
	border-color: #634e32;
	border-width: 0px 0px 2px 0px;
	background-color: #D2B48C;
	
	font-family: "URW Chancery L", cursive;
	font-size: 16px;	
	
	width: 66%;
}

.button {
	background-color: #634e32;
	color: white;
	font-family: "URW Chancery L", cursive;
	font-size: 12px;
	
	height: 24px;
	width: 80px;
	
	border-radius: 10px;
	
}