.modal-body {
	position: absolute;
	left: calc(50% - 15%);
	width: 30%;
	/* height: 43%; */
	background-color: black;
	
	color: white;
	
	border: 10px double white;
}

.warning-body {
	position: absolute;
	left: calc(50% - 15%);
	width: 30%;
	background-color: orange;
	
	color: black;
	
	border: 10px double white;
}

.text {
	margin: 0px;
	font-family: "URW Chancery L", cursive;	
}

.header {
	/* line-height: 16px; */
	text-align: center;
	/* margin-left: 10px; */
	font-size: 48px;
}

.entry {
	font-size: 24px;
	margin-left: 15px;
	/* line-height: 24px; */
}
.entry:hover {
	text-decoration: underline;
}

.button {
	background-color: black;
	color: white;
	font-size: 24px;
	width: 200px;
	text-align: center;

	margin-top: 2px;
	margin-left: calc(50% - 100px);	
}

.button:hover {
	background-color: white;
	color: black;
}

.grey-button {
	font-family: "URW Chancery L", cursive;	
	
	background-color: grey;
	color: white;
	font-size: 16px;
	text-align: center;
}

.simple-button {
	font-family: "URW Chancery L", cursive;
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-bottom: 2.5px;
	font-size: 16px;
	text-align: center;
}

.button-holder {
  display: flex;
  justify-content: center;
}