<div *ngIf="mode === 'main-menu'" class="modal-body">
	<div class="text header"><u>Main Menu</u></div>
		<div class="text entry" (click)="saveEntry()">Save</div>
		<div class="text entry" (click)="warnBeforeNavigatingHome()">Home</div>
		<p style="text-align: center;" *ngIf="text">{{text}}</p>
		<button class="text button"  (click)="closeSettings()">close</button>
</div>

<div *ngIf="mode === 'should-save-before-leaving'" class="warning-body">
	<div class="text entry" style="text-align:center">Are you sure you want to leave without saving?</div>
	<div class="button-holder">
		<button class="simple-button" (click)="saveEntryAndGoHome()">No, Save First</button>
		<button class="simple-button" (click)="navigateHome()">Yes</button>
	</div>
	
</div>