

.register-box-container {
	visibility: hidden;
	background-color: rgba(0, 0, 255, .15);
	
	position: absolute;
	
	height: 70%;
	width: 30%;
	
	/* left: calc(50% - 15%); */
	left: 100%;
	top: calc(50% - 35%);
}

.central-icon {
	margin-left: 37%;
	margin-top: 10%;
	
	height: 128px;
	width: 128px;
	
	max-height: 128px;
	max-width: 128px;
}

.input-box {
	  background: rgba(255, 255, 255, .15);
	  height: 1.5em;
	  width: 60%;
	
      position: absolute;
	  left: 20%;  
}

.input-box::placeholder { /* Most modern browsers support this now. */
   color: #000;
}

.login-button {
	background: rgba(0, 0, 0, 1);
	color: white;
	
	width: 61%;
	position: absolute;
	height: 3em;
	
	left: 20%;
	top: 54% ;
}

.register-button {
	background: rgba(0, 0, 0, 1);
	color: white;
	
	width: 61%;
	position: absolute;
	height: 3em;
	
	left: 20%;
	top: 65% ;
}

.username-box {
	top: 40%;
}

.email-box {
	 top: calc(40% + 3em);
}

.password-box {
	top: calc(40% + 6em);
}

.password-confirm-box {
	top: calc(40% + 9em);
}

@media (max-width : 750px) {
	.login-box-container {
	
	height: 90%;
	width: 90%;
	
	left: 5%;
	top: 5%;
	
	}
}

.info-message {
	font-family: "URW Chancery L", cursive;	
	color: yellow;
	
	text-align: center;
}

.error {
	background-color: rgba(255, 0, 0, .15);
}
