<div #registerContainer id="registerContainer" [class.error]="errorMessage != undefined" class="register-box-container">
	<img class="central-icon" src="../../../assets/avatars/flyer3.png"/>
	<div *ngIf="errorMessage" class="info-message">{{ errorMessage }}</div>
	<div *ngIf="infoMessage" class="info-message">{{ infoMessage }}</div>
	<input #email class="input-box email-box" type="text" placeholder="e-mail address">
	<input #username class="input-box username-box" type="text" placeholder="username"/>
	<input #password class="input-box password-box" type="password" placeholder="password"/>
	<input #passwordConfirm class="input-box password-confirm-box" type="password" placeholder="confirm password"/>
	
	<button class="register-button" (click)="registerAccount(username, password, passwordConfirm, email)">Complete Registration</button>
</div>