.button-container {
	position: absolute;
	background-color: rgba(0, 0, 0, .2);
}

.button-container:hover {
	background-color: rgba(0, 0, 0, .5);
} 

.button {
	position: relative;
	
	left: calc(30%);
	top: calc(50% - 5%);
	
	opacity: .3;
}

.button-container:hover .button {
	opacity: 1;
}

