.full-page {
	background: url(../../../assets/backgrounds/LoginBlurCandidate2.png) no-repeat center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}