<input #usernameSignIn type="text"/>
<input #passwordSignIn type="text"/>
<input type="submit" value="Login" (click)="login(usernameSignIn, passwordSignIn)"/>
<input type="submit" value="heartbeat" (click)="isMyCookieOk()"/>