.canvas {
	background-color: #a39660;
	position: absolute;
	
	top: 10%;
	left: 10%;
	
	width: 80%;
	height: 80%;
}

.settings-bubble {
	position: absolute;
	height: 8%;
	left: calc(50% - 30px);
	
	opacity: .3;
}

.page {
	filter: blur(10px);
	pointer-events: none;
}

.settings-bubble:hover {
	opacity: 1;
}

