<div [ngStyle]="hideThePageCss">
	<app-city-backdrop></app-city-backdrop>
	
	<img class="settings-bubble" src="../../../assets/icons/settings-bubble.png" (click)="clickOnSettings()"/>
	<app-back-button [top]="navTop" [left]="backLeft" [height]="navHeight" [width]="navWidth"></app-back-button>
	<div #writingCanvas class="canvas">
		<app-editor-pane [top]="top" [left]="left" [width]="width" [height]="height" [pageNumber]="starterPageLeft"></app-editor-pane>
		<app-editor-pane [top]="top" [left]="secondLeft" [width]="width" [height]="height" [pageNumber]="starterPageRight"></app-editor-pane>
	</div>
	<app-forward-button [top]="navTop" [left]="fwdLeft" [height]="navHeight" [width]="navWidth"></app-forward-button>
	<app-new-page-button [top]="navTop" [left]="fwdLeft" [height]="navHeight" [width]="navWidth"></app-new-page-button>
	
</div>

<app-settings-modal *ngIf="showSettings"></app-settings-modal>