.book {
	position: absolute;
}

.margin {
	float: left;
	
	background-color: #634e32;
	/* background: linear-gradient(to right, #634e32 20%, #ffffff 40%, #634e32 20%, #634e32 20%); */
	border-radius: 10px 0% 0% 10px;

	height: 100%;
	width: 6%;
}

.content {
	float: left;
	
	/* background-color: #c7b472; */
	background-color: #D2B48C;
	border-radius: 0 20px 20px 0;

	height: 100%;
	width: 94%;	
	overflow-y: auto;
}

.logout-button {
	position: relative;
	float: right;
		
	
	background-color: #a65116;
	color: white;
	font-family: "URW Chancery L", cursive;
	font-size: 12px;
	
	height: 22px;
	width: 60px;
	
	border-radius: 10px;
	
	margin-bottom: 12px;
	margin-right: 20px;

}