<div [ngStyle]="styles" class="book">
  <div class="margin">
  
  </div>
  <div class="content">
  
	  <app-list-chapters class="list-chapters"></app-list-chapters>
	<button class="logout-button" (click)="logout()">Logout</button>
	  
  </div>
</div>