.title {
	text-align: center;
	font-size: 32px;
	font-family: "URW Chancery L", cursive;
	line-height: 30px;	
}

th, td, tr {
	border: 1px solid black;
	font-family: "URW Chancery L", cursive;
}

th {
	font-size: 24px;
	color: #3b5998;
}

.center {
	text-align: center;
}

.button {
	background-color: #634e32;
	color: white;
	font-family: "URW Chancery L", cursive;
	font-size: 12px;
	
	height: 32px;
	width: 80px;
	
	border-radius: 10px;
	
	margin-bottom: 12px;
}

.name-heading {
	font-size: 24px;
	font-family: "URW Chancery L", cursive;	
	line-height: 24px;
	text-align: center;
}