<div [style]="style" *ngIf="showList">
	<p class="title">{{ title }}</p>
	
	<div class="center"><button class="button" (click)="bringUpNewEntryMenu()">New Entry</button></div>
	
	<div class="scroller">
		<table align="center">
			<tr>
				<th>Chapter Name</th>
				<th>Date Started</th>
				<th>Last Written</th>
			</tr>
			<tr *ngFor="let chapter of chapters">
				<td (click)="loadEntry(chapter.name)" (mouseenter)="mouseEnter(name)" (mouseleave)="mouseLeave(name)" #name>{{ chapter.name }}</td>
				<td>{{ chapter.created }}</td>
				<td>{{ chapter.lastModified }}</td>
			</tr>
		</table>
	</div>

</div>

<!-- <div *ngIf="showKeyUploader" class="center">
  <p class="name-heading">Upload your journal key to view</p>
  <input type="file" (change)="extractKeysAndLoadEntry($event)" placeholder="Upload Key"/>
</div> -->

<app-neentry-definer *ngIf="showNewEntry"></app-neentry-definer>
