<input #usernameCreate type="text"/>
<input #passwordCreate type="text"/>
<input #passwordConfirm type="text"/>
<input type="submit" value="Create My Account" (click)="createUser(usernameCreate, passwordCreate, passwordConfirm)"/>