<div #loginContainer [ngStyle]="errorLoginStyling" id="loginContainer" class="login-box-container">
	<img class="central-icon" src="../../../assets/avatars/flyer3.png"/>
	<div *ngIf="errorMessage" class="info-message">{{ errorMessage }}</div>
	<input #username class="input-box username-box" type="text" placeholder="username"/>
	<input #password class="input-box password-box" type="password" placeholder="password" (keyup.enter)="auth(username, password, this)"/>
	
	<button class="login-button" (click)="auth(username, password, loginContainer)">Login</button>
	<button class="register-button" (click)="loadRegisterPage(loginContainer)">Register</button>
</div>